<article id="comments">
  <h3>Comments</h3>
  {{#each this}}
    <div class="comment">
      <p class="comment-date">{{format_date created_at}}</p>

      <div class="comment-text">
        <p>{{comment_text}}</p>
        <p class="author">&mdash;{{user.username}}</p>
      </div>
    </div>
  {{/each}}
</article>