<section id="comments">
  <h3>{{format_plural "Note" length}}</h3>
  {{#each this}}
    <article class="comment">
      <div class="comment-details">
        <p class="comment-author">{{user.username}}</p>
        <p class="comment-date">{{format_date created_at}}</p>
      </div>
      <div class="comment-text">
        <p>{{comment_text}}</p>
      </div>
    </article>
  {{/each}}
</section>