<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VVH Financial</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script defer src="/javascript/copyright.js"></script>
    {{#if loggedIn}}
      <script defer src="/javascript/logout.js"></script>
    {{/if}}
  </head>

  <body>
    <header>
      <a href="/" class="img-wrapper">
        <img id="logo" src="/images/header.png" alt="vvh financial"/>
      </a>
      <nav class="wrapper">
        {{#if loggedIn}}
          <a class="nav-links" href="/dashboard">dashboard</a>
          <a class="nav-links" href="/dashboard/profile">profile</a>
          <button id="logout" class="btn nav-links">logout</button>
        {{else}}
          <a class="nav-links" href="/about">About</a>
          <a class="nav-links" href="/contact">Contact</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      &copy;
      <span id="copyright"></span> vvh financial
    </footer>
  </body>

</html>