<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VVH Financial</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script defer src="/assets/js/copyright.js"></script>
  {{#if loggedIn}}
  <script defer src="/assets/js/logout.js"></script>
  {{/if}}
</head>

<body>
    <header>
      <h1>
        <span id="logo"></span> <a href="/">VVH Financial</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/#">Estate</a>
        <a href="/#">Link 2</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      &copy; <span id="copyright"></span> VVH Financial
    </footer>
</body>

</html>