<section id="about-details">
    <img src="/images/profile.jpg" alt="profile pic" id="profile-pic">

    <article>
        <p>Voltaire Herrera</p>
        <p>Job title</p>
    </article>
</section>

<section>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, alias!</p><br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, beatae cumque. Laudantium dolorum explicabo vitae asperiores id rem, iste dolorem perspiciatis, accusantium nam temporibus saepe quasi repudiandae quisquam quis error!</p><br>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto perspiciatis nostrum repellendus eveniet laborum atque illo aliquid corporis dolorem quo?</p>
</section>