<h2>Contact</h2>

<article class="contact-links">
    <p class="details">Phone</p> <a href="/">512.123.5555</a>
    <p class="details">Email</p> <a href="/">name@vvhfinancial.com</a> 
    <p class="details">Instagram</p> <a href="/">@vvhfinancial</a>
    <p class="details">Address</p> <p>Lorem ipsum dolor, Dallas, TX</p>
</article>