{{#if clients.length}}
<section>
    <h2 class="header">Clients</h2>
    <ol>
        {{#each clients as |client|}}
        <li class="client-list-item">
            {{> client-info client}}
            <article class="btn-wrapper">
                <a href="/dashboard/edit/{{client.id}}" class="edit-link btn">Edit</a>
                {{!-- <button type="button" class="btn" id="delete-btn">Delete</button> --}}
            </article>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}