<div>dashboard test</div>
{{!-- controllers | dashboard | get route --}}
{{!-- populates the dashboard view with client list --}}
{{!-- {{#if clients.length}}
<section>
    <h2>Clients</h2>
    <ol>
        {{#each clients as |client|}}
        <li>
            {{> client-info client}}
            <a href="/dashboard/edit/{{client.id}}" class="edit-link">Edit</a>
            <button type="button" class="btn" id="delete-btn">Delete</button>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}} --}}