<script defer src="/javascript/login.js"></script>

<form id="login-form" class="form">
  <h2>Log in</h2>
  <article>
    <label for="email-login">email</label>
    <input type="email" id="email-login" />
  </article>
  <article>
    <label for="password-login">password</label>
    <input type="password" id="password-login" />
  </article>
  <article>
    <button type="submit" class="btn add-btn form-btn">Log in</button>
  </article>
</form>