<script defer src="/javascript/comment.js"></script>

{{!-- renders partial --}}
<section id="client-section">
  {{> client-info client }}

  <form id="comment-form">
    <article>
      <textarea name="comment-body"></textarea>
    </article>

    <button type="submit" class="btn add-btn">add note</button>
  </form>
</section>
{{!-- add a comment --}}

{{!-- renders partial --}}
{{> comments client.comments }}