*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 100;
    outline: 1px dotted blue;
}

:root {
    --text: rgb(252, 247, 231);
    --form-text: rgba(252, 247, 231, .75);
    --hover: rgb(101, 155, 189);
    --dark-overlay: rgba(0, 0, 0, .90);
    --accent: rgba(252, 247, 226, 0.606);
    --button: rgba(0, 0, 0, 0.247);
    --cta: rgba(0, 0, 0, 0.064);
    --background: rgba(40, 36, 67, 0.85);
    --border: 1px solid var(--accent)
}

body {
    background-image: url('../images/background.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-variant: small-caps;
}

.mobile-hide {
    display: none;
}

/* flow */
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    padding: .25rem .5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2rem var(--dark-overlay);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    margin-bottom: auto;
}

nav {
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

.wrapper {
    display: flex;
}


/* display */
header,
footer {
    background: var(--dark-overlay);
}


ul {
    list-style: none;
}

#copyright {
    grid-column: span 3;
    text-align: center;
}

/* forms */
form {
    margin: .5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem 0;
    align-items: center;
    background-color: var(--cta);
    box-shadow: 0 0 .5rem var(--cta);
    border-radius: 1rem;
    border: 1px solid var(--accent)
}

form article {
    width: 100%;
}

input {
    padding-left: 1rem;
}

input[type=radio] {
    margin: 0 2vw;
}

input, textarea {
    width: 100%;
}

#client-text {
    line-height: 4rem;
}
input, textarea {
    --accent: rgba(247, 226, 226, 0.111);
    border-radius: 0 .5rem;
    padding: .5rem .25rem;
    background: transparent;
    border-color: transparent transparent var(--accent) transparent;
    color: var(--form-text);
    font-variant: normal;
    letter-spacing: .25rem;
    transition: 1s;
}

form input:focus, textarea:focus {
    outline: none;
    background-color: var(--cta);
    box-shadow: 0 0 1rem var(--cta);
    color: var(--text);
}

/* CTA */
#cta-form h2 {
    padding: .5vw 5vw;
    border-bottom: 1px solid var(--accent);
}

#contact-wrapper {
    align-items: center;
}

#contact-wrapper * {
    align-items: center;
}

#radio-wrapper {
    flex-grow: 1;
    justify-content: space-around;
}

/* inputs */


/* buttons */

.btn {
    color: var(--accent);
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--button);
    border: none;
    cursor: pointer;
    transition: 1s;
    text-align: center;
}

.form-btn {
    width: 100%;
}

.btn:hover {
    background-color: var(--accent);
}

/* dashboard */
#clients-header {
    border-bottom: var(--border);
}

.nav-links {
    margin-left: 1rem;
}

/* partials | client-info */
.client-list-item {
    border-radius: .25rem 0 0 0;
    border-left: var(--border);
    border-top: var(--border);
    margin: 1rem 0;
    padding: .25rem;
}

.btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
}

.client-header {
    justify-content: space-between;
    align-items: center;
}

.client-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .25rem .5rem;
}

.client-text {
    grid-column: span 2;
}

.details {
    font-variant: normal;
}
/* list styles */
ol {
    list-style: none;
}

/* typography */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--form-text);
}

.header {
    color: var(--accent);
}

label {
    color: var(--accent);
}

body * {
    letter-spacing: .15rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: var(--hover);
}

p {
    padding-left: .5rem;
}

