*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

:root {
    --text: rgb(252, 247, 231);
    --form-text: rgba(252, 247, 231, .75);
    --hover: rgb(101, 155, 189);
    --dark-overlay: rgba(0, 0, 0, .90);
    --accent: rgba(252, 247, 226, 0.606);
    --button: rgba(0, 0, 0, 0.247);
    --cta: rgba(0, 0, 0, 0.064);
    --background: rgba(40, 36, 67, 0.85);
    --border: 1px solid var(--accent);
    --hover-link: rgb(196, 128, 105);
    --section-corners: 1rem;
    --time: 1s;
}

body {
    background-image: url('../images/background.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-variant: small-caps;
}

.mobile-hide {
    display: none;
}

/* flow */
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    padding: .25rem .5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2rem var(--dark-overlay);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    margin-bottom: auto;
}

nav {
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

.wrapper {
    display: flex;
}

.contact-links {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .25rem;
}

#about-details {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: .25rem;
    margin-bottom: 1rem;
}

/* display */
header,
footer {
    background: var(--dark-overlay);
}

ul {
    list-style: none;
}

#copyright {
    padding-right: .5rem;
}

/* forms */
form {
    margin: .5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem 0;
    background-color: var(--cta);
    box-shadow: 0 0 .5rem var(--cta);
    border-radius: var(--section-corners);
    border: 1px solid var(--accent)
}

form article {
    width: 100%;
}

input {
    padding-left: 1rem;
}

input[type=radio] {
    margin: 0 2vw;
}

input,
textarea {
    width: 100%;
}

input,
textarea {
    --accent: rgba(247, 226, 226, 0.111);
    border-radius: 0 .5rem;
    padding: .5rem .25rem;
    background: transparent;
    border-color: transparent transparent var(--accent) transparent;
    color: var(--form-text);
    font-variant: normal;
    letter-spacing: .25rem;
    transition: var(--time);
}

form input:focus,
textarea:focus {
    outline: none;
    background-color: var(--cta);
    box-shadow: 0 0 1rem var(--cta);
    color: var(--text);
}

#comment-form {
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: .5rem;
}

/* CTA */
#cta-form h2 {
    padding: .5vw;
}

#contact-wrapper {
    align-items: center;
}

#contact-wrapper * {
    align-items: center;
}

#radio-wrapper {
    flex-grow: 1;
    justify-content: space-around;
}

.add-client-text {
    height: 6rem;
}

/* buttons */
.btn {
    color: var(--accent);
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--button);
    border: none;
    cursor: pointer;
    transition: var(--time);
    text-align: center;
    font-variant: small-caps;
}

.form-btn {
    width: 100%;
}

.btn:hover {
    background-color: var(--hover);
}

.edit-link {
    margin-top: .25rem;
}

.buttons-wrapper * {
    margin-top: .25rem;
}

/* dashboard */
#clients-header {
    border-bottom: var(--border);
}

.nav-links {
    margin-left: 1rem;
}

/* profile.handlebars */
#profile {
    flex-direction: column;
    border-radius: var(--section-corners);
    border: var(--border);
    padding: .5rem;
}

#profile article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .5rem;
    padding-top: .5rem;
}

/* single-client */
#client-section .client {
    border-left: var(--border);
    padding: .5rem;
}

/* partials | client-info */
.client-list-item {
    border-left: var(--border);
    margin: 1rem 0;
    padding: .25rem 0 .25rem .5rem;
}

.btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
}

.client-header {
    justify-content: space-between;
    align-items: center;
}

.details-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .25rem .5rem;
}

.details {
    font-variant: normal;
}

/* partials | comments */
#comments {
    border-left: var(--border);
    padding: .5rem;
}

.comment {
    display: flex;
    gap: .5rem;
}

.comment-details {
    display: flex;
    flex-direction: column;
}

/* list styles */
ol {
    list-style: none;
}

/* section styles */
.section {
    margin-bottom: 2rem;
}

/* img styles */
#logo {
    width: 25vw;
    margin: .125rem 0;
    filter: opacity(.5) drop-shadow(0 0 0 var(--accent));
    transition: var(--time);
}

#logo:hover {
    filter: opacity(.75) drop-shadow(0 0 0 var(--accent) invert);
}

#profile-pic {
    margin: .25rem;
    border-radius: 50%;
    height: 30vw;
}

/* typography */
a {
    color: inherit;
    text-decoration: none;
    transition: var(--time);
}

a:hover {
    color: var(--hover-link);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--form-text);
}

body * {
    letter-spacing: .15rem;
}

.client-email {
    letter-spacing: .075rem;
}

.comment-author {
    color: var(--accent);
    font-style: italic;
}

.comment-date, .client-date {
    font-size: .75rem;
}

.comment-text {
    font-variant: normal;
}

.header,
.details {
    color: var(--accent);
}

label {
    color: var(--accent);
}

p {
    padding-left: .5rem;
}

/* tablet view */
@media screen and (min-width: 768px) {

    /* img */
    #logo {
        width: 20vw;
    }

    #profile-pic {
        height: 20vw;
    }

    /* typography */
    .nav-links {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1024px) {

    /* display */
    #client-section,
    #comments,
    #edit-client-form {
        width: 40vw;
    }

    .clients-wrapper {
        width: 100%;
    }

    #cta-form,
    #login-form {
        width: 35vw;
    }

    input[type=radio] {
        margin: 0 .5vw;
    }

    /* flow */
    .about-section {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 2rem;
    }

    #about-details {
        display: flex;
        flex-direction: column;
    }

    main {
        align-items: center;
    }

    .client-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem 1rem;
    }

    .forms-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .buttons-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    #edit-client-form {
        gap: 0;
    }

    .textarea-wrapper {
        flex-grow: 1;
    }

    .textarea-wrapper textarea {
        height: 100%;
    }

    .edit-link {
        width: fit-content;
        padding: .125rem 1rem;
    }

    /* img */
    #logo {
        width: 10vw;
    }

    #profile-pic {
        height: 10vw;
    }
}