*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted aqua; */
}

:root {
    --text: rgb(255, 255, 255);
    --hover: rgb(101, 155, 189);
    --dark-overlay: rgba(0, 0, 0, .5);
    --background: rgb(35, 23, 125);
}

body {
    background: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* flow */
header,
footer {
    background: var(--dark-overlay);
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    padding: .25rem .5rem;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 0 1vh;
}

#menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

section {
    margin: .5rem 0 1.5rem 0;
}

/* typography */
.header,
#menu * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-variant: small-caps;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: var(--hover);
}