*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    font-weight: 100;
}

:root {
    --text: rgb(252, 247, 231);
    --hover: rgb(101, 155, 189);
    --dark-overlay: rgba(0, 0, 0, .90);
    --light-overlay: rgba(252, 247, 226, 0.606);
    --button: rgba(0, 0, 0, 0.247);
    --cta: rgba(0, 0, 0, 0.064);
    --background: rgba(40, 36, 67, 0.85);
}

body {
    background-image: url('../images/background.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* flow */
header,
footer {
    background: var(--dark-overlay);
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    padding: .25rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 2rem var(--dark-overlay);
}

header img {
    /* background: aqua; */
    color: var(--text);
    max-height: 15vw;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
}

nav {
    width: 100%;
}

#menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.section {
    margin: 1.5rem 0 0 0;
}

/* CTA */
#cta .header {
    text-align: center;
}

input {
    padding-left: 1rem;
}

#cta-form {
    margin: .5rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem .5rem;
    align-items: center;
    background-color: var(--cta);
    box-shadow: 0 0 .5rem var(--cta);
}

#phone-number,
#email,
#submit {
    grid-column: span 2;
}


#cta-form input {
    --accent: rgba(247, 226, 226, 0.111);
    border-radius: 0 .5rem;
    margin-top: .15rem;
    padding: .5rem .25rem;
    background: transparent;
    border-color: transparent transparent var(--accent) transparent;
    width: 100%;
    color: var(--light-overlay);
    box-shadow: transparent;
    transition: 1s;
}

#cta-form input:focus {
    outline: none;
    background-color: var(--cta);
    box-shadow: 0 0 1rem var(--cta);
    color: var(--text);
}

#submit {
    color: var(--light-overlay);
    border-radius: .5rem;
    padding: .25rem;
    background-color: var(--button);
    border: none;
    cursor: pointer;
    transition: 1s;
}

#submit:hover {
    background-color: var(--light-overlay);
}

/* main#services */
#services {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* main#agents */
#agents {
    display: grid;
    grid-template-columns: auto 1fr;
}

.agent {
    width: fit-content;
    border-bottom: 1px solid var(--light-overlay);
}

#profile {
    --size: 25vw;
    --box-shadow: 0 0 1rem var(--background);
    width: var(--size);
    height: var(--size);
    background: url('../images/profile.jpg');
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 1rem;
    box-shadow: inset var(--box-shadow), var(--box-shadow);
}

/* typography */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    color: var(--light-overlay);
}

body * {
    letter-spacing: .15rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: var(--hover);
}

.position {
    color: var(--text);
}

p {
    padding-left: 1rem;
}

@media screen and (min-width: 768px) {
    #about h2 {
        display: none;
    }

    footer {
        background-color: transparent;
    }

    footer * {
        font-size: 1rem;
    }

    header img {
        --size: 5vw;
        max-height: var(--size);
        padding: 0 1rem;
    }

    #menu {
        justify-content: space-around;
        font-size: 1.5rem;
    }

    .header {
        font-size: 1.75rem;
    }

    #cta .header {
        text-align: start;
        padding-left: 1rem;
    }

    p {
        font-size: 1.25rem;
    }

    header img {
        max-height: 10vw;
    }

    #profile {
        --size: 15vw;
        width: var(--size);
    }

    #submit {
        font-size: 1.125rem;
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-areas:
            "a b"
            "c b";
    }

    header,
    footer {
        width: 15vw;
    }

    header {
        grid-area: a;
        height: 100%;
        padding: 0 .25rem auto .25rem;
    }

    header img {
        width: 100%;
    }

    main {
        grid-area: b;
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        align-items: flex-end;
        grid-area: c;
        height: 100%;
        padding: 0 .25rem;
        background-color: var(--dark-overlay);
        box-shadow: 0 0 2rem var(--dark-overlay);
    }

    footer a {
        font-size: .75rem;
    }

    #menu {
        font-size: 1.75rem;
    }

    #profile {
        --size: 10vw;
        width: var(--size);
    }

    #about-text {
        margin-top: 1rem;
    }

    p {
        padding-left: 0;
    }
}